/*-------------------------------------------*\
    Global — Aero
\*-------------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--accent-dark);
  color: var(--accent-text);
}
